 <h1>Good {{greeting}}, {{name}}!</h1>

 <h2>Today's top headers in technology are...</h2>

 <ol>
{% for item in my_list %}
    <li><h4>{{item}}</h4></li>
{% endfor %}

<h2>More top headlines:</h2>
<ul>
	<li><a href='/user/{{name}}/home'>homepage</a></li>
	<li><a href='/user/{{name}}/opinion'>opinion</a></li>
	<li><a href='/user/{{name}}/world'>world</a></li>
	<li><a href='/user/{{name}}/national'>national</a></li>
	<li><a href='/user/{{name}}/politics'>politics</a></li>
	<li><a href='/user/{{name}}/upshot'>upshot</a></li>
	<li><a href='/user/{{name}}/nyregion'>nyregion</a></li>
	<li><a href='/user/{{name}}/business'>business</a></li>
	<li><a href='/user/{{name}}/technology'>technology</a></li>
	<li><a href='/user/{{name}}/science'>science</a></li>
	<li><a href='/user/{{name}}/health'>health</a></li>
	<li><a href='/user/{{name}}/sports'>sports</a></li>
	<li><a href='/user/{{name}}/arts'>arts</a></li>
	<li><a href='/user/{{name}}/books'>books</a></li>
	<li><a href='/user/{{name}}/movies'>movies</a></li>
	<li><a href='/user/{{name}}/theater'>theater</a></li>
	<li><a href='/user/{{name}}/sundayreview'>sundayreview</a></li>
	<li><a href='/user/{{name}}/fashion'>fashion</a></li>
	<li><a href='/user/{{name}}/tmagazine'>tmagazine</a></li>
	<li><a href='/user/{{name}}/food'>food</a></li>
	<li><a href='/user/{{name}}/travel'>travel</a></li>
	<li><a href='/user/{{name}}/magazine'>magazine</a></li>
	<li><a href='/user/{{name}}/realestate'>realestate</a></li>
	<li><a href='/user/{{name}}/automobiles'>automobiles</a></li>
	<li><a href='/user/{{name}}/obituaries'>obituaries</a></li>
	<li><a href='/user/{{name}}/insider'>insider</a></li>

</ol>

